<!doctype html>
<html lang="en">
  <head>
    <title>Test - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="static/w3.css">
    <link rel="stylesheet" href="static/fl001.css">
    <link href="/static/media/favicon.png" rel="icon" type="image/png" />
  </head>
  <body>
    <header class="w3-bar w3-indigo">
      <a href="/" class="w3-bar-item w3-button w3-hover-blue">Home</a>
      <a href="/data2?page=page3" class="w3-bar-item w3-button w3-mobile  w3-hover-blue w3-right" style="width:10%"><i class="fa fa-sign-in"></i>This Month</a>
      <a href="/data2?page=page2" class="w3-bar-item w3-button w3-mobile  w3-hover-blue w3-right" style="width:10%"><i class="fa fa-sign-in"></i>This Week</a>
      <a href="/data2?page=page1" class="w3-bar-item w3-button w3-mobile  w3-hover-blue w3-right" style="width:10%"><i class="fa fa-sign-in"></i>Today</a>
      <div class="w3-dropdown-hover w3-right">
        <button class="w3-button w3-mobile w3-hover-blue">Dropdown</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/data2?page=page3" class="w3-bar-item w3-button w3-mobile  w3-hover-blue"></i>This Month</a>
          <a href="/data2?page=page2" class="w3-bar-item w3-button w3-mobile  w3-hover-blue"></i>This Week</a>
          <a href="/data2?page=page1" class="w3-bar-item w3-button w3-mobile  w3-hover-blue"></i>Today</a>
            </div>
      </div>
    </header>
    <div class="">
      <div class="w3-container w3-white fl-center w3-border-cyan">

      </div>
    </div>
    <footer class="w3-bar w3-indigo fl-footer" heigth="100px">
    </footer>

  </body>
</html>
